<a href="https://colab.research.google.com/github/OshankAgrawal/Foundation-of-Data-Science/blob/main/PANDAS_Library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Python Library

Pandas is Python library used for working with data sets.

It has functions for analysing, cleaning, exploring, and manipluating data.

The name 'Pandas' has reference to both "Panel Data", and "Python Data Analysis" and was created by **Wes McKinney** in 2008.

**Why use Pandas?**

Pandas allows us to analyse big data and make conclusion based on statistical theories.

Pandas can clean messy data sets, and make them readable and relevant.

Relevant data is very important in Data Science.

**Data Science:** is the branch of computer science where we study how to store, use and analyze data for deriving information from it.

**What can Pandas Do?**

Pandas gives you answer about the data.

Like:

* Is there a correlation between two or more columns?

* What is the average value?

* What is the maximum value?

* What is the minimum value?

Pandas are also able to delete rows that are not relevant, or contains wrong values, like empty or NULL values. This is called cleaning the data.

**Create the Dataframe with Pandas**

Data sets in pandas are usually milti-dimensional table, called DataFrames.

Series is like a column, where as DataFrame is the whole table.

In [ ]:
import pandas as pd
mydataset={"Name":["Oshank","Aryan","Madhavi","Palak","Tanu"],"PhoneNo.":[9638527410,1234556789,9516238470,1594872630,7534218690]}
df=pd.DataFrame(mydataset)
print(df)

      Name    PhoneNo.
0   Oshank  9638527410
1    Aryan  1234556789
2  Madhavi  9516238470
3    Palak  1594872630
4     Tanu  7534218690

**Pandas Series**

A pandas series is like a column in a table.

It is a one-dimensional array holding data of any type.

**Create Pandas Series by passing List**

In [ ]:
import pandas as pd
a=[1,2,3,4,5,6]
sr=pd.Series(a)
print(sr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

**Change the Labels or index of Series**

In [ ]:
import pandas as pd
b=["Ram","Shyam","Ghanshyam","Mohan"]
sr=pd.Series(b,index=["A","B","C","D"])
print(sr)

A          Ram
B        Shyam
C    Ghanshyam
D        Mohan
dtype: object

**Create Pandas Series by passing the Dictonary**

In [ ]:
import pandas as pd
data = {'Name':["Oshank Agrawal","Madhavi","Sakshi Tiwari","Harshraj Ray","Prince Kumar Gatte","Abhishek Shristava"],'CGPA':[8.6,7.6,7.8,8.1,7.8,8.0],'city':["Mathura","Bhopal","Viodisha","Shadol"," ","Bhopal"]}
series=pd.Series(data,index=['city','Name'])
print(series)

city       [Mathura, Bhopal, Viodisha, Shadol,  , Bhopal]
Name    [Oshank Agrawal, Madhavi, Sakshi Tiwari, Harsh...
dtype: object

**Change the index of DataFrames**

In [ ]:
import pandas as pd
mydataset={"Name":["Oshank","Aryan","Madhavi","Palak","Tanu"],"PhoneNo.":[9638527410,1234556789,9516238470,1594872630,7534218690]}
df=pd.DataFrame(mydataset, index=["entity1","entity2","entity3","entity4","entity5"])
print(df)

            Name    PhoneNo.
entity1   Oshank  9638527410
entity2    Aryan  1234556789
entity3  Madhavi  9516238470
entity4    Palak  1594872630
entity5     Tanu  7534218690

**Read Excel Files**

In [ ]:
import pandas as pd
df = pd.read_excel("/content/drive/MyDrive/AIADS Students List.xlsx")
print(df)

   ROLL NO.         STUDENT NAME  sgpa  3rd sem Rank  final cgpa  Final Rank
0        18         Charu sharma  8.74             1        8.03          14
1        36       Oshank agrawal  8.65             2        8.63           1
2        41         Pragya sirse  8.48             3        8.54           2
3        10         Anjali gupta  8.48             4        8.30           5
4        61     Shree nath dangi  8.43             5        8.22           8
..      ...                  ...   ...           ...         ...         ...
79        8     Aman kumar singh   NaN            80         NaN          80
80       13  Ayush kumar malviya   NaN            81         NaN          81
81       38       Pallavi sharma   NaN            82         NaN          82
82       58        Shivam thakre   NaN            83         NaN          83
83       72          Tanay patle   NaN            84         NaN          84

[84 rows x 6 columns]

In [ ]:
import pandas as pd
data = pd.read_excel("/content/drive/MyDrive/Data/Final Course List (Jan - April 2024).xlsx")
print(data)

      Course ID             Discipline  \
0    noc24-ae01  Aerospace Engineering
1    noc24-ae02  Aerospace Engineering
2    noc24-ae03  Aerospace Engineering
3    noc24-ae04  Aerospace Engineering
4    noc24-ae05  Aerospace Engineering
..          ...                    ...
715  noc24-te03    Textile Engineering
716  noc24-te04    Textile Engineering
717  noc24-te05    Textile Engineering
718  noc24-te06    Textile Engineering
719  noc24-te07    Textile Engineering

                                           Course Name  \
0           Gasdynamics: Fundamentals and Applications
1                                      Aircraft Design
2                 Computational Science in Engineering
3    Fundamentals of Theoretical and Experimental A...
4              Introduction to Aircraft Control System
..                                                 ...
715       Testing of Functional and Technical Textiles
716             Textile Product Design and Development
717                           Textured Yarn Technology
718                           Theory of Yarn Structure
719                          New Spinning Technologies

                   SME Name Institute \nCo-ordinating Institute  Duration  \
0      Prof. Srisha Rao M V      IISc                      IISc  12 Weeks
1           Prof. A.K.Ghosh      IITK                      IITK  12 weeks
2            Prof. Ashok De      IITK                      IITK   8 Weeks
3           Prof. Arnab Roy    IITKGP                    IITKGP  12 Weeks
4    Prof. Dipak Kumar Giri      IITK                      IITK  12 Weeks
..                      ...       ...                       ...       ...
715        Prof. Apurba Das      IITD                      IITD   8 Weeks
716   Prof. R Chattopadhyay      IITD                      IITD  12 Weeks
717        Prof. Kushal Sen      IITD                      IITD  12 Weeks
718       Prof. Dipayan Das      IITD                      IITD  12 Weeks
719   Prof. R Chattopadhyay      IITD                      IITD  12 Weeks

    Type of course Start date   End date  ... Exam Registration End date  \
0            Rerun 2024-01-22 2024-04-12  ...                 2024-02-16
1            Rerun 2024-01-22 2024-04-12  ...                 2024-02-16
2            Rerun 2024-01-22 2024-03-15  ...                 2024-02-16
3            Rerun 2024-01-22 2024-04-12  ...                 2024-02-16
4              New 2024-01-22 2024-04-12  ...                 2024-02-16
..             ...        ...        ...  ...                        ...
715          Rerun 2024-01-22 2024-03-15  ...                 2024-02-16
716          Rerun 2024-01-22 2024-04-12  ...                 2024-02-16
717          Rerun 2024-01-22 2024-04-12  ...                 2024-02-16
718          Rerun 2024-01-22 2024-04-12  ...                 2024-02-16
719          Rerun 2024-01-22 2024-04-12  ...                 2024-02-16

     UG/PG  Core/Elective  FDP Applicable NPTEL Domain  \
0    UG/PG       Elective  Yes                     NaN
1    UG/PG           Core  Yes        Flight Mechanics
2    UG/PG  Core/Elective  Yes                     NaN
3    UG/PG           Core  Yes                     NaN
4    UG/PG           Core  Yes                     NaN
..     ...            ...  ...                     ...
715  UG/PG       Elective  Yes                     NaN
716  UG/PG       Elective  Yes                     NaN
717  UG/PG       Elective  Yes                     NaN
718     UG       Elective  Yes                     NaN
719  UG/PG           Core  Yes                     NaN

                         Click here to Join the course  \
0    https://onlinecourses.nptel.ac.in/noc24_ae01/p...
1    https://onlinecourses.nptel.ac.in/noc24_ae02/p...
2    https://onlinecourses.nptel.ac.in/noc24_ae03/p...
3    https://onlinecourses.nptel.ac.in/noc24_ae04/p...
4    https://onlinecourses.nptel.ac.in/noc24_ae05/p...
..                                                 ...
715  https://onlinecourses.nptel.ac.in/noc24_te03/p...
716  https://onlinecourses.nptel.ac.in/noc24_te04/p...
717  https://onlinecourses.nptel.ac.in/noc24_te05/p...
718  https://onlinecourses.nptel.ac.in/noc24_te06/p...
719  https://onlinecourses.nptel.ac.in/noc24_te07/p...

                                        Old course URL Course ID.1  \
0    https://onlinecourses.nptel.ac.in/noc22_ae05/p...  noc24_ae01
1    https://onlinecourses.nptel.ac.in/noc23_ae01/p...  noc24_ae02
2    https://onlinecourses.nptel.ac.in/noc23_ae04/p...  noc24_ae03
3    https://onlinecourses.nptel.ac.in/noc23_ae06/p...  noc24_ae04
4                                                  NaN  noc24_ae05
..                                                 ...         ...
715  https://onlinecourses.nptel.ac.in/noc23_te02/p...  noc24_te03
716  https://onlinecourses.nptel.ac.in/noc23_te06/p...  noc24_te04
717  https://onlinecourses.nptel.ac.in/noc23_te05/p...  noc24_te05
718  https://onlinecourses.nptel.ac.in/noc23_te03/p...  noc24_te06
719  https://onlinecourses.nptel.ac.in/noc23_te07/p...  noc24_te07

                                  NPTEL URL  \
0    https://nptel.ac.in/courses/101108086/
1     https://nptel.ac.in/courses/101104069
2     https://nptel.ac.in/courses/101104086
3     https://nptel.ac.in/courses/101105088
4     https://nptel.ac.in/courses/101104330
..                                      ...
715   https://nptel.ac.in/courses/116102050
716   https://nptel.ac.in/courses/116102058
717   https://nptel.ac.in/courses/116102053
718   https://nptel.ac.in/courses/116102051
719   https://nptel.ac.in/courses/116102059

                                NPTEL URL.1
0    https://nptel.ac.in/courses/101108086/
1     https://nptel.ac.in/courses/101104069
2     https://nptel.ac.in/courses/101104086
3     https://nptel.ac.in/courses/101105088
4     https://nptel.ac.in/courses/101104330
..                                      ...
715   https://nptel.ac.in/courses/116102050
716   https://nptel.ac.in/courses/116102058
717   https://nptel.ac.in/courses/116102053
718   https://nptel.ac.in/courses/116102051
719   https://nptel.ac.in/courses/116102059

[720 rows x 22 columns]

**Create DataFrame by passing the Dictonary to the DataFrame() function**

In [ ]:
import pandas as pd
d={'name':[1,2,3,4,5],'class':[6,7,8,9,10],'roll':[11,12,13,14,15]}
df=pd.DataFrame(d)
print(df)

   name  class  roll
0     1      6    11
1     2      7    12
2     3      8    13
3     4      9    14
4     5     10    15

In this method column name is automatically set from the dictonary **Keys** act as the column name and **Values** act as the data of the DataFrame.

In [ ]:
import pandas as pd
d={"Name":["Oshank","Aryan","Madhavi","Palak","Tanu"],"PhoneNo.":[9638527410,1234556789,9516238470,1594872630,7534218690],'col1':[1,2,3,4,5],'col2':[6,7,8,9,10],'col3':[11,12,13,14,15]}
df=pd.DataFrame(data=d)
print(df)

      Name    PhoneNo.  col1  col2  col3
0   Oshank  9638527410     1     6    11
1    Aryan  1234556789     2     7    12
2  Madhavi  9516238470     3     8    13
3    Palak  1594872630     4     9    14
4     Tanu  7534218690     5    10    15

**Create DataFrame by passing the tuple to the DataFrame() function**

In this method you have to define Columns name explicitely because tuple does not have key:value pair as dictonary.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Show the dataframe
print(df)

      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

**Creating CSV File**

In [ ]:
import csv
# Fields name
fields = ["Name","Branch","year","CGPA"]

# Data rows of the file
rows = [["Oshank Agrawal","AIADS",2,8.63],["Madhavi","AIADS",2,7.5],["Sakshi Tiwari","AIADS",2,7.6],["Prince Kumar Gatte","CSE BCT",2,7.10],["Harshraj Ray","AIADS",2,8.1],["Abhishek Shristava","AIADS",2,8.0]]

# Name of the file
filename = "Student_Record.csv"

# open the file for writing
with open ("Student_Record.csv", mode="w") as csvfile:

  # Creating the file object
  csvwriter = csv.writer(csvfile)

  # Writing the name of fields
  csvwriter.writerow(fields)

  # Writing the data in the file
  csvwriter.writerows(rows)

# Close the file
csvfile.close()

# Open the file for reading
with open("Student_Record.csv", mode="r") as file:

  # Reading the file
  files = csv.reader(file)

  # Displaying the content of the file
  for lines in files:
    print(lines)

['Name', 'Branch', 'year', 'CGPA']
['Oshank Agrawal', 'AIADS', '2', '8.63']
['Madhavi', 'AIADS', '2', '7.5']
['Sakshi Tiwari', 'AIADS', '2', '7.6']
['Prince Kumar Gatte', 'CSE BCT', '2', '7.1']
['Harshraj Ray', 'AIADS', '2', '8.1']
['Abhishek Shristava', 'AIADS', '2', '8.0']

**Load CSV file into the DataFrame**

In [ ]:
import pandas as pd
df = pd.read_csv("Student_Record.csv")
print(df)

                 Name   Branch  year  CGPA
0      Oshank Agrawal    AIADS     2  8.63
1             Madhavi    AIADS     2  7.50
2       Sakshi Tiwari    AIADS     2  7.60
3  Prince Kumar Gatte  CSE BCT     2  7.10
4        Harshraj Ray    AIADS     2  8.10
5  Abhishek Shristava    AIADS     2  8.00

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Data/CSV File.csv")
print(df)

      Course ID             Discipline  \
0    noc24-ae01  Aerospace Engineering
1    noc24-ae02  Aerospace Engineering
2    noc24-ae03  Aerospace Engineering
3    noc24-ae04  Aerospace Engineering
4    noc24-ae05  Aerospace Engineering
..          ...                    ...
715  noc24-te03    Textile Engineering
716  noc24-te04    Textile Engineering
717  noc24-te05    Textile Engineering
718  noc24-te06    Textile Engineering
719  noc24-te07    Textile Engineering

                                           Course Name  \
0           Gasdynamics: Fundamentals and Applications
1                                      Aircraft Design
2                 Computational Science in Engineering
3    Fundamentals of Theoretical and Experimental A...
4              Introduction to Aircraft Control System
..                                                 ...
715       Testing of Functional and Technical Textiles
716             Textile Product Design and Development
717                           Textured Yarn Technology
718                           Theory of Yarn Structure
719                          New Spinning Technologies

                   SME Name Institute \nCo-ordinating Institute  Duration  \
0      Prof. Srisha Rao M V      IISc                      IISc  12 Weeks
1           Prof. A.K.Ghosh      IITK                      IITK  12 weeks
2            Prof. Ashok De      IITK                      IITK   8 Weeks
3           Prof. Arnab Roy    IITKGP                    IITKGP  12 Weeks
4    Prof. Dipak Kumar Giri      IITK                      IITK  12 Weeks
..                      ...       ...                       ...       ...
715        Prof. Apurba Das      IITD                      IITD   8 Weeks
716   Prof. R Chattopadhyay      IITD                      IITD  12 Weeks
717        Prof. Kushal Sen      IITD                      IITD  12 Weeks
718       Prof. Dipayan Das      IITD                      IITD  12 Weeks
719   Prof. R Chattopadhyay      IITD                      IITD  12 Weeks

    Type of course    Start date      End date     Exam date  \
0            Rerun  Jan 22, 2024  Apr 12, 2024  Apr 27, 2024
1            Rerun  Jan 22, 2024  Apr 12, 2024  Apr 27, 2024
2            Rerun  Jan 22, 2024  Mar 15, 2024  Mar 24, 2024
3            Rerun  Jan 22, 2024  Apr 12, 2024  Apr 27, 2024
4              New  Jan 22, 2024  Apr 12, 2024  Apr 28, 2024
..             ...           ...           ...           ...
715          Rerun  Jan 22, 2024  Mar 15, 2024  Mar 24, 2024
716          Rerun  Jan 22, 2024  Apr 12, 2024  Apr 20, 2024
717          Rerun  Jan 22, 2024  Apr 12, 2024  Apr 27, 2024
718          Rerun  Jan 22, 2024  Apr 12, 2024  Apr 27, 2024
719          Rerun  Jan 22, 2024  Apr 12, 2024  Apr 27, 2024

    Enrollment End date Exam Registration End date  UG/PG  Core/Elective  FDP  \
0          Jan 29, 2024               Feb 16, 2024  UG/PG       Elective  Yes
1          Jan 29, 2024               Feb 16, 2024  UG/PG           Core  Yes
2          Jan 29, 2024               Feb 16, 2024  UG/PG  Core/Elective  Yes
3          Jan 29, 2024               Feb 16, 2024  UG/PG           Core  Yes
4          Jan 29, 2024               Feb 16, 2024  UG/PG           Core  Yes
..                  ...                        ...    ...            ...  ...
715        Jan 29, 2024               Feb 16, 2024  UG/PG       Elective  Yes
716        Jan 29, 2024               Feb 16, 2024  UG/PG       Elective  Yes
717        Jan 29, 2024               Feb 16, 2024  UG/PG       Elective  Yes
718        Jan 29, 2024               Feb 16, 2024     UG       Elective  Yes
719        Jan 29, 2024               Feb 16, 2024  UG/PG           Core  Yes

    Applicable NPTEL Domain Course ID.1
0                       NaN  noc24_ae01
1          Flight Mechanics  noc24_ae02
2                       NaN  noc24_ae03
3                       NaN  noc24_ae04
4                       NaN  noc24_ae05
..                      ...         ...
715                     NaN  noc24_te03
716                     NaN  noc24_te04
717                     NaN  noc24_te05
718                     NaN  noc24_te06
719                     NaN  noc24_te07

[720 rows x 18 columns]

As you can see only top 5 and bottom 5 rows is displayed.

You can change the maximum rows number with the same statement.

Increase the maximum rows number of rows to display the entire DataFrame:

In [ ]:
import pandas as pd
pd.options.display.max_rows=9999
df = pd.read_csv("/content/drive/MyDrive/Data/CSV File.csv")
print(df[['Discipline','Course Name']])

                                  Discipline  \
0                      Aerospace Engineering
1                      Aerospace Engineering
2                      Aerospace Engineering
3                      Aerospace Engineering
4                      Aerospace Engineering
5                      Aerospace Engineering
6                      Aerospace Engineering
7                      Aerospace Engineering
8                      Aerospace Engineering
9                      Aerospace Engineering
10                     Aerospace Engineering
11                     Aerospace Engineering
12                   Agriculture Engineering
13                   Agriculture Engineering
14                   Agriculture Engineering
15                   Agriculture Engineering
16                   Agriculture Engineering
17                   Agriculture Engineering
18                   Agriculture Engineering
19                   Agriculture Engineering
20                 Architecture and Planning
21                 Architecture and Planning
22                 Architecture and Planning
23                 Architecture and Planning
24                 Architecture and Planning
25                 Architecture and Planning
26                 Architecture and Planning
27                 Architecture and Planning
28          Biotechnology and Bioengineering
29          Biotechnology and Bioengineering
30          Biotechnology and Bioengineering
31          Biotechnology and Bioengineering
32          Biotechnology and Bioengineering
33          Biotechnology and Bioengineering
34          Biotechnology and Bioengineering
35          Biotechnology and Bioengineering
36          Biotechnology and Bioengineering
37          Biotechnology and Bioengineering
38          Biotechnology and Bioengineering
39          Biotechnology and Bioengineering
40          Biotechnology and Bioengineering
41          Biotechnology and Bioengineering
42          Biotechnology and Bioengineering
43          Biotechnology and Bioengineering
44          Biotechnology and Bioengineering
45          Biotechnology and Bioengineering
46          Biotechnology and Bioengineering
47          Biotechnology and Bioengineering
48          Biotechnology and Bioengineering
49          Biotechnology and Bioengineering
50          Biotechnology and Bioengineering
51          Biotechnology and Bioengineering
52          Biotechnology and Bioengineering
53          Biotechnology and Bioengineering
54          Biotechnology and Bioengineering
55          Biotechnology and Bioengineering
56          Biotechnology and Bioengineering
57          Biotechnology and Bioengineering
58          Biotechnology and Bioengineering
59          Biotechnology and Bioengineering
60          Biotechnology and Bioengineering
61          Biotechnology and Bioengineering
62          Biotechnology and Bioengineering
63          Biotechnology and Bioengineering
64          Biotechnology and Bioengineering
65                         Civil Engineering
66                         Civil Engineering
67                         Civil Engineering
68                         Civil Engineering
69                         Civil Engineering
70                         Civil Engineering
71                         Civil Engineering
72                         Civil Engineering
73                         Civil Engineering
74                         Civil Engineering
75                         Civil Engineering
76                         Civil Engineering
77                         Civil Engineering
78                         Civil Engineering
79                         Civil Engineering
80                         Civil Engineering
81                         Civil Engineering
82                         Civil Engineering
83                         Civil Engineering
84                         Civil Engineering
85                         Civil Engineering
86                         Civil Engineering
87                         Civil Engineering
88                         Civil Engineering
89                         Civil Engineering
90                         Civil Engineering
91                         Civil Engineering
92                         Civil Engineering
93                         Civil Engineering
94                         Civil Engineering
95                         Civil Engineering
96                         Civil Engineering
97                         Civil Engineering
98                         Civil Engineering
99                         Civil Engineering
100                        Civil Engineering
101                        Civil Engineering
102                        Civil Engineering
103                        Civil Engineering
104                        Civil Engineering
105                        Civil Engineering
106                        Civil Engineering
107                        Civil Engineering
108                        Civil Engineering
109                        Civil Engineering
110                        Civil Engineering
111                        Civil Engineering
112                           Earth Sciences
113                           Earth Sciences
114                           Earth Sciences
115                           Earth Sciences
116                        Civil Engineering
117                        Civil Engineering
118                        Civil Engineering
119                     Chemical Engineering
120                     Chemical Engineering
121                     Chemical Engineering
122                     Chemical Engineering
123                     Chemical Engineering
124                     Chemical Engineering
125                     Chemical Engineering
126                     Chemical Engineering
127                     Chemical Engineering
128                     Chemical Engineering
129                     Chemical Engineering
130                     Chemical Engineering
131                     Chemical Engineering
132                     Chemical Engineering
133                     Chemical Engineering
134                     Chemical Engineering
135                     Chemical Engineering
136                     Chemical Engineering
137                     Chemical Engineering
138                     Chemical Engineering
139                     Chemical Engineering
140                     Chemical Engineering
141                     Chemical Engineering
142                     Chemical Engineering
143                     Chemical Engineering
144                     Chemical Engineering
145                     Chemical Engineering
146                     Chemical Engineering
147                     Chemical Engineering
148                     Chemical Engineering
149                     Chemical Engineering
150                     Chemical Engineering
151                     Chemical Engineering
152                     Chemical Engineering
153                     Chemical Engineering
154                     Chemical Engineering
155         Computer Science and Engineering
156         Computer Science and Engineering
157         Computer Science and Engineering
158         Computer Science and Engineering
159         Computer Science and Engineering
160         Computer Science and Engineering
161         Computer Science and Engineering
162         Computer Science and Engineering
163         Computer Science and Engineering
164         Computer Science and Engineering
165         Computer Science and Engineering
166         Computer Science and Engineering
167         Computer Science and Engineering
168         Computer Science and Engineering
169         Computer Science and Engineering
170         Computer Science and Engineering
171         Computer Science and Engineering
172         Computer Science and Engineering
173         Computer Science and Engineering
174         Computer Science and Engineering
175         Computer Science and Engineering
176         Computer Science and Engineering
177         Computer Science and Engineering
178         Computer Science and Engineering
179         Computer Science and Engineering
180         Computer Science and Engineering
181         Computer Science and Engineering
182         Computer Science and Engineering
183         Computer Science and Engineering
184         Computer Science and Engineering
185         Computer Science and Engineering
186         Computer Science and Engineering
187         Computer Science and Engineering
188         Computer Science and Engineering
189         Computer Science and Engineering
190         Computer Science and Engineering
191         Computer Science and Engineering
192         Computer Science and Engineering
193         Computer Science and Engineering
194         Computer Science and Engineering
195         Computer Science and Engineering
196         Computer Science and Engineering
197         Computer Science and Engineering
198         Computer Science and Engineering
199         Computer Science and Engineering
200         Computer Science and Engineering
201         Computer Science and Engineering
202         Computer Science and Engineering
203         Computer Science and Engineering
204         Computer Science and Engineering
205         Computer Science and Engineering
206         Computer Science and Engineering
207         Computer Science and Engineering
208         Computer Science and Engineering
209         Computer Science and Engineering
210         Computer Science and Engineering
211         Computer Science and Engineering
212         Computer Science and Engineering
213         Computer Science and Engineering
214         Computer Science and Engineering
215         Computer Science and Engineering
216         Computer Science and Engineering
217         Computer Science and Engineering
218         Computer Science and Engineering
219         Computer Science and Engineering
220         Computer Science and Engineering
221                                Chemistry
222                                Chemistry
223                                Chemistry
224                                Chemistry
225                                Chemistry
226                                Chemistry
227                                Chemistry
228                                Chemistry
229                                Chemistry
230                                Chemistry
231                                Chemistry
232                                Chemistry
233                                Chemistry
234                                Chemistry
235                                Chemistry
236                                Chemistry
237                                Chemistry
238                                Chemistry
239                                Chemistry
240                                Chemistry
241                                Chemistry
242                                Chemistry
243                                Chemistry
244                                Chemistry
245                                Chemistry
246                                Chemistry
247                                Chemistry
248                                Chemistry
249                                Chemistry
250                                Chemistry
251                                Chemistry
252                                Chemistry
253                                Chemistry
254           Architecture, Civil and Design
255                       Design Engineering
256                       Design Engineering
257                       Design Engineering
258                       Design Engineering
259                       Design Engineering
260                       Design Engineering
261                       Design Engineering
262                        Economic Sciences
263                        Economic Sciences
264                        Economic Sciences
265                        Economic Sciences
266                        Economic Sciences
267                        Economic Sciences
268                        Economic Sciences
269                        Economic Sciences
270                        Multidisciplinary
271   Electrical and Electronics Engineering
272   Electrical and Electronics Engineering
273   Electrical and Electronics Engineering
274   Electrical and Electronics Engineering
275   Electrical and Electronics Engineering
276   Electrical and Electronics Engineering
277   Electrical and Electronics Engineering
278   Electrical and Electronics Engineering
279   Electrical and Electronics Engineering
280   Electrical and Electronics Engineering
281   Electrical and Electronics Engineering
282   Electrical and Electronics Engineering
283   Electrical and Electronics Engineering
284   Electrical and Electronics Engineering
285   Electrical and Electronics Engineering
286   Electrical and Electronics Engineering
287   Electrical and Electronics Engineering
288   Electrical and Electronics Engineering
289   Electrical and Electronics Engineering
290   Electrical and Electronics Engineering
291   Electrical and Electronics Engineering
292   Electrical and Electronics Engineering
293   Electrical and Electronics Engineering
294   Electrical and Electronics Engineering
295   Electrical and Electronics Engineering
296   Electrical and Electronics Engineering
297   Electrical and Electronics Engineering
298   Electrical and Electronics Engineering
299   Electrical and Electronics Engineering
300   Electrical and Electronics Engineering
301   Electrical and Electronics Engineering
302   Electrical and Electronics Engineering
303   Electrical and Electronics Engineering
304   Electrical and Electronics Engineering
305   Electrical and Electronics Engineering
306   Electrical and Electronics Engineering
307   Electrical and Electronics Engineering
308   Electrical and Electronics Engineering
309   Electrical and Electronics Engineering
310   Electrical and Electronics Engineering
311   Electrical and Electronics Engineering
312   Electrical and Electronics Engineering
313   Electrical and Electronics Engineering
314   Electrical and Electronics Engineering
315   Electrical and Electronics Engineering
316   Electrical and Electronics Engineering
317   Electrical and Electronics Engineering
318   Electrical and Electronics Engineering
319   Electrical and Electronics Engineering
320   Electrical and Electronics Engineering
321   Electrical and Electronics Engineering
322   Electrical and Electronics Engineering
323   Electrical and Electronics Engineering
324   Electrical and Electronics Engineering
325   Electrical and Electronics Engineering
326   Electrical and Electronics Engineering
327   Electrical and Electronics Engineering
328   Electrical and Electronics Engineering
329   Electrical and Electronics Engineering
330   Electrical and Electronics Engineering
331   Electrical and Electronics Engineering
332   Electrical and Electronics Engineering
333   Electrical and Electronics Engineering
334   Electrical and Electronics Engineering
335   Electrical and Electronics Engineering
336   Electrical and Electronics Engineering
337   Electrical and Electronics Engineering
338   Electrical and Electronics Engineering
339   Electrical and Electronics Engineering
340   Electrical and Electronics Engineering
341   Electrical and Electronics Engineering
342   Electrical and Electronics Engineering
343   Electrical and Electronics Engineering
344   Electrical and Electronics Engineering
345   Electrical and Electronics Engineering
346   Electrical and Electronics Engineering
347                        Multidisciplinary
348                        Multidisciplinary
349                        Multidisciplinary
350                        Multidisciplinary
351                        Multidisciplinary
352                        Multidisciplinary
353                        Multidisciplinary
354                        Multidisciplinary
355                        Multidisciplinary
356                        Multidisciplinary
357                        Multidisciplinary
358                        Multidisciplinary
359                        Multidisciplinary
360                        Multidisciplinary
361                        Multidisciplinary
362                        Multidisciplinary
363                        Multidisciplinary
364                        Multidisciplinary
365                        Multidisciplinary
366                        Multidisciplinary
367                        Multidisciplinary
368                        Multidisciplinary
369                        Multidisciplinary
370                        Multidisciplinary
371                        Multidisciplinary
372                        Multidisciplinary
373                        Multidisciplinary
374                        Multidisciplinary
375                        Multidisciplinary
376                        Multidisciplinary
377                        Multidisciplinary
378                        Multidisciplinary
379                        Multidisciplinary
380                        Multidisciplinary
381                        Multidisciplinary
382                        Multidisciplinary
383           Humanities and Social Sciences
384           Humanities and Social Sciences
385           Humanities and Social Sciences
386           Humanities and Social Sciences
387           Humanities and Social Sciences
388           Humanities and Social Sciences
389           Humanities and Social Sciences
390           Humanities and Social Sciences
391           Humanities and Social Sciences
392           Humanities and Social Sciences
393           Humanities and Social Sciences
394           Humanities and Social Sciences
395           Humanities and Social Sciences
396           Humanities and Social Sciences
397           Humanities and Social Sciences
398           Humanities and Social Sciences
399           Humanities and Social Sciences
400           Humanities and Social Sciences
401           Humanities and Social Sciences
402           Humanities and Social Sciences
403           Humanities and Social Sciences
404           Humanities and Social Sciences
405           Humanities and Social Sciences
406           Humanities and Social Sciences
407           Humanities and Social Sciences
408           Humanities and Social Sciences
409           Humanities and Social Sciences
410           Humanities and Social Sciences
411           Humanities and Social Sciences
412           Humanities and Social Sciences
413           Humanities and Social Sciences
414           Humanities and Social Sciences
415           Humanities and Social Sciences
416           Humanities and Social Sciences
417           Humanities and Social Sciences
418           Humanities and Social Sciences
419           Humanities and Social Sciences
420           Humanities and Social Sciences
421           Humanities and Social Sciences
422           Humanities and Social Sciences
423           Humanities and Social Sciences
424           Humanities and Social Sciences
425           Humanities and Social Sciences
426           Humanities and Social Sciences
427           Humanities and Social Sciences
428           Humanities and Social Sciences
429           Humanities and Social Sciences
430           Humanities and Social Sciences
431           Humanities and Social Sciences
432           Humanities and Social Sciences
433           Humanities and Social Sciences
434           Humanities and Social Sciences
435           Humanities and Social Sciences
436           Humanities and Social Sciences
437           Humanities and Social Sciences
438           Humanities and Social Sciences
439           Humanities and Social Sciences
440           Humanities and Social Sciences
441           Humanities and Social Sciences
442           Humanities and Social Sciences

In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/Data/CSV File.csv")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Course ID                   720 non-null    object
 1   Discipline                  720 non-null    object
 2   Course Name                 720 non-null    object
 3   SME Name                    720 non-null    object
 4   Institute                   720 non-null    object
 5
Co-ordinating Institute    720 non-null    object
 6   Duration                    720 non-null    object
 7   Type of course              720 non-null    object
 8   Start date                  720 non-null    object
 9   End date                    720 non-null    object
 10  Exam date                   720 non-null    object
 11  Enrollment End date         720 non-null    object
 12  Exam Registration End date  720 non-null    object
 13  UG/PG                       720 non-null    object
 14  Core/Elective               720 non-null    object
 15  FDP                         720 non-null    object
 16  Applicable NPTEL Domain     263 non-null    object
 17  Course ID.1                 720 non-null    object
dtypes: object(18)
memory usage: 101.4+ KB
None

**Pandas Select Columns by indexing in Single Column**

**Example:**
In this example code extract the "City" column from DataFrame, using square brackets notation and assigns it to the variable 'result'. Finally it display the extracted column or series.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Select a single column
print(df['City'])

Name      Aaditya
Age            25
City       Mumbai
Salary      40000
Name: 2, dtype: object

**Pandas Select Columns by indexing in multiple Columns**

For select the multiple column you have to pass the 2-D array to the selector.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Select a single column
print(df['Age'])
print()
# Select multiple column
print(df[['Name','Salary']])

0    28
1    32
2    25
3    32
4    32
5    32
6    40
7    32
Name: Age, dtype: int64

      Name  Salary
0    Stuti   20000
1   Saumya   25000
2  Aaditya   40000
3   Saumya   35000
4   Saumya   30000
5   Saumya   20000
6  Aaditya   24000
7    Seema   70000

**Pandas select column data based on specific condition**

**Example:**

As the below example shows that only select the data from our DataFrame only where the **city=='Mumbai'**.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Select employee from a specific city
delhi_employee=df[df['City']=='Mumbai']
print(delhi_employee)

      Name  Age    City  Salary
2  Aaditya   25  Mumbai   40000
5   Saumya   32  Mumbai   20000

**Example:**

As the below example shows that only select the data from our DataFrame only where the **Salary of employee > 30000**.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

print("select high salary employee in the form of dataframe")
HighSalaryEmployees=df[df['Salary']>30000]
print(HighSalaryEmployees)
print()
print("select high salary employee in the form of tuples")
EmployeesofHighSalary=[x for x in employees if x[3]>30000]
print(EmployeesofHighSalary)

select high salary employee in the form of dataframe
      Name  Age    City  Salary
2  Aaditya   25  Mumbai   40000
3   Saumya   32   Delhi   35000
7    Seema   32   Delhi   70000

select high salary employee in the form of tuples
[('Aaditya', 25, 'Mumbai', 40000), ('Saumya', 32, 'Delhi', 35000), ('Seema', 32, 'Delhi', 70000)]

**Pandas Change the index of the DataFrame by using the *inplace* attribute**

**inplace** attribute has binary value it means:

* if **'True'** than changes is not seen inside the new variable but changes is happened in the original DataFrame.
* if **'False'** than changes is seen inside the new variable but changes is not happened in the original DataFrame your DataFrame remains unchanged.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

data=df.set_index('Name',inplace=True)
print(data)
print(df)

None
         Age      City  Salary
Name
Stuti     28  Varanasi   20000
Saumya    32     Delhi   25000
Aaditya   25    Mumbai   40000
Saumya    32     Delhi   35000
Saumya    32     Delhi   30000
Saumya    32    Mumbai   20000
Aaditya   40  Dehradun   24000
Seema     32     Delhi   70000

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

data=df.set_index('Name',inplace=False)
print(data)
print(df)

         Age      City  Salary
Name
Stuti     28  Varanasi   20000
Saumya    32     Delhi   25000
Aaditya   25    Mumbai   40000
Saumya    32     Delhi   35000
Saumya    32     Delhi   30000
Saumya    32    Mumbai   20000
Aaditya   40  Dehradun   24000
Seema     32     Delhi   70000
      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

**Select a single row**

**Example:**

In this example code sets the "Name" column as the index for the DataFrame named 'df' then select and display the row width the index value 'Saumya' using the loc[ ] operator.

This operator select and display data where 'Name'='Saumya'.
* if **'Name'='Saumya'** is unique in the DataFrame than it display only one result.
* if **'Name'='Saumya'** is not unique in the DataFrame than it display all the possible result so don't get confused.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

data=df.set_index('Name',inplace=True)

result=df.loc['Saumya']
print(result)

        Age    City  Salary
Name
Saumya   32   Delhi   25000
Saumya   32   Delhi   35000
Saumya   32   Delhi   30000
Saumya   32  Mumbai   20000

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

data=df.set_index('Name',inplace=True)

result=df.loc['Seema']
print(result)

Age          32
City      Delhi
Salary    70000
Name: Seema, dtype: object

In [18]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

ls=set(df["Name"])
ls1=list(ls)
print(ls)
print(ls1)
data=df.set_index('Name',inplace=True)

result=df.loc[ls1]
print(result)

{'Stuti', 'Seema', 'Saumya', 'Aaditya'}
['Stuti', 'Seema', 'Saumya', 'Aaditya']
         Age      City  Salary
Name
Stuti     28  Varanasi   20000
Seema     32     Delhi   70000
Saumya    32     Delhi   25000
Saumya    32     Delhi   35000
Saumya    32     Delhi   30000
Saumya    32    Mumbai   20000
Aaditya   25    Mumbai   40000
Aaditya   40  Dehradun   24000

 Here we make 'ls' as set to reduce the redundancy means to remove the duplicate values from the name column because ahead we pass the 'ls' to the 'loc[ ]' function as we know the working of 'loc[ ]' function this select and display all the rows or data where the index is match, if we pass whole column without convert it into set than the redudancy seen if we make the set of all the passing values before passing than redundancy is not seen.

 **Warning**

 <ipython-input-17-821c7b311991>:14: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  result=df.loc[ls]

  **Correction**

  we convert the type of 'ls' into list and then pass to 'loc[ ]' function.

**Select multiple Rows**

**Example:**

In this example code set the 'Name' column as index for DataFrame named 'df' then select and display rows with index values 'Seema' and 'Stuti' using the 'loc[ ]' function.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

data=df.set_index('Name',inplace=True)

result=df.loc[['Seema','Stuti']]
print(result)

       Age      City  Salary
Name
Seema   32     Delhi   70000
Stuti   28  Varanasi   20000

**Select Multiple Rows and Particular Columns**

**Example:**

In this example code set the 'Name' column as index for DataFrame named 'df' then select the 'Age' and 'Salary' columns for the rows with index values('Name') is 'Seema' and 'Stuti' in the DataFGrame using the 'loc[ ]' function by passyng the 2-D List, and display the result.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

data=df.set_index('Name',inplace=True)

result=df.loc[['Seema','Stuti'],['Age','Salary']]
print(result)

       Age  Salary
Name
Seema   32   70000
Stuti   28   20000

**Select all the Rows with some Particular Columns**

We use a single colon "[ : ]" to select all rows and the list of columns that we want to select.

**Example:**

In this example code set the 'Name' column as index for DataFrame named 'df' then extract the 'Age' and 'Salary' columns into the DataFrame using the 'loc[ ]' function.

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

data=df.set_index('Name',inplace=True)

result=df.loc[:,['Age','Salary']]
print(result)

         Age  Salary
Name
Stuti     28   20000
Saumya    32   25000
Aaditya   25   40000
Saumya    32   35000
Saumya    32   30000
Saumya    32   20000
Aaditya   40   24000
Seema     32   70000

**Select Rows and Columns in Pandas DataFrame using "iloc[ ]" function**

The 'iloc[]' is used for selection based on position. it is similar to 'loc[]' indexer but it takes **only integer values** to make selections.

There are many ways to use this function:

1. Select a single row

2. Select multiple rows

3. Select multiple rows with some particular columns

4. Select all rows with some particular columns

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Select a particular row
print(df.iloc[2])

print()

# Select rows in a paricular range
print(df.iloc[1:4])

print()

# Select selected rows
print(df.iloc[[1,4,6]])

Name      Aaditya
Age            25
City       Mumbai
Salary      40000
Name: 2, dtype: object

      Name  Age    City  Salary
1   Saumya   32   Delhi   25000
2  Aaditya   25  Mumbai   40000
3   Saumya   32   Delhi   35000

      Name  Age      City  Salary
1   Saumya   32     Delhi   25000
4   Saumya   32     Delhi   30000
6  Aaditya   40  Dehradun   24000

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Select particular rows with particular columns
print(df.iloc[[1,4,6],[0,3]])

      Name  Salary
1   Saumya   25000
4   Saumya   30000
6  Aaditya   24000

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Select all rows with particular columns
print(df.iloc[:,[0,3]])

      Name  Salary
0    Stuti   20000
1   Saumya   25000
2  Aaditya   40000
3   Saumya   35000
4   Saumya   30000
5   Saumya   20000
6  Aaditya   24000
7    Seema   70000

**Find the number of Rows and number of Columns in the DataFrame**

Use the **df.shape[ ]** function to count of find the number of rows and number of columns

* if we pass **1 OR -1** to the **df.shape[ ]** than it return the number of **Columns**

* if we pass **0 OR -2** to the **df.shape[ ]** than it return the number of **Rows**

In [ ]:
import pandas as pd

# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),('Saumya', 32, 'Delhi', 25000),('Aaditya', 25, 'Mumbai', 40000),('Saumya', 32, 'Delhi', 35000),('Saumya', 32, 'Delhi', 30000),('Saumya', 32, 'Mumbai', 20000),('Aaditya', 40, 'Dehradun', 24000),('Seema', 32, 'Delhi', 70000)]

# Create a DataFrame object from list
df = pd.DataFrame(employees,columns =['Name', 'Age','City', 'Salary'])

# Count the number of columns
print('Count the number of column: ',df.shape[1]) # Axis 1 mens horizontally same as in 2D array

# Count the number of rows
print('Count the number of rows: ',df.shape[0]) # Axis 0 means vertically same as in 2D array

# Count the number of columns
print('Count the number of column: ',df.shape[-1]) # Axis 1 mens horizontally same as in 2D array

# Count the number of rows
print('Count the number of rows: ',df.shape[-2]) # Axis 0 means vertically same as in 2D array

Count the number of column:  4
Count the number of rows:  8
Count the number of column:  4
Count the number of rows:  8

**Why can we not just count the rows and columns ourselves?**

If we work with larger data set with many columns and rows, it will be confusing to count it by yourself. you risk to count it wrongly.

If we use the built-in function in python correctly, we assure that the count is correct.